@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --toast-black: #1A1A1A;
    --toast-white: #FFFFFF;
    --toast-blue-1: #0364FF;
    --toast-blue-2: #3062B2;
    --toast-purple: #761ABE;
    --toast-red: #BF0000;
    --toast-gradient-1: linear-gradient(90deg, #721ebe, #3260b3);
    --toast-gradient-2: linear-gradient(0deg, #721ebe, #3260b3);
    --toast-neutral-6: #F5F5F5;
    --toast-neutral-5: #E9E9E9;
    --toast-neutral-4: #CDCDCD;
    --toast-neutral-3: #ACACAC;
    --toast-neutral-2: #949494;
    --toast-neutral-1: #757575;
}

::-webkit-input-placeholder {
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-color: var(--toast-white);
    font-family: Roboto;
    color: var(--toast-black);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;
}

.row {
    margin-right: 0rem;
}

.title {
    font-weight: bold;
}

.page {
    height: 100vh;
    background-color: var(--toast-neutral-5);
}

.nav-card {
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
}


/* Form input styles */

.input-group-text {
    background-color: var(--toast-neutral-6);
    border-radius: 20rem;
    color: var(--toast-neutral-1);
    padding: 0rem .75rem;
}

.form-control {
    border-radius: 20rem;
    background-color: var(--toast-neutral-6);
    font-size: 0.96rem;
}

.required .control-label:after {
    content: "*";
    color: var(--toast-red);
}

input[type=checkbox],
input[type=radio] {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.3rem;
}

.client-box {
    padding: 1rem;
    border-radius: 0.625rem;
    margin: 0.3rem;
}

.client-box:nth-child(odd) {
    background-color: var(--toast-neutral-6);
}

.client-box:nth-child(even) {
    background-color: var(--toast-neutral-5);
}


/* Common Button Styles */

.btn {
    margin: 0.375rem;
    color: var(--toast-white);
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: none;
    padding: 0.5rem 0;
    font-size: 1rem;
    border-radius: 0.625rem;
    letter-spacing: 1px;
    min-width: 8rem;
}

.btn:hover {
    color: var(--toast-white);
    /* box-shadow: 0rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.16), 0rem 0.125rem 0.625rem 0rem rgba(0, 0, 0, 0.12); */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.round {
    border-radius: 2rem;
}


/* Spacing to push buttons to the bottom of the page. */

.spacer-primary {
    height: 6.5rem;
}

.spacer-secondary {
    height: 10.5rem;
}

.spacer-tertiary {
    height: 13.5rem;
}

.spacer-quaternary {
    height: 17.5rem;
}


/* Overrides sidenav default colors */

.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv {
    background: var(--toast-gradient-2);
    border-radius: 0rem 2rem 2rem 0rem;
    min-width: 4.875rem;
    position: fixed;
    overflow-y: hidden;
}